<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head xml:lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
        <meta name="Description" content="Home page of the ircd-hybrid development projects" />

        <title xml:lang="en">: ircd-hybrid -- High Performance Internet Relay Chat :</title>

        <style type="text/css" media="screen" xml:lang="en">
            /*<![CDATA[*/
            @import url(css/ircd-hybrid.css);
            /*]]>*/
        </style>
    </head>

    <body xml:lang="en">
        <div class="container" xml:lang="en">
            <div class="titleblock"> </div>

            <div>
                <ul class="navbar" xml:lang="en">
                    <li xml:lang="en"><a href="index.html" class="nav">Home</a></li>
                    <li xml:lang="en"><a href="changes.html" class="nav">Changes</a></li>
                    <li xml:lang="en"><a href="downloads.html" class="nav">Downloads</a></li>
                    <li xml:lang="en"><a href="support.html" class="nav">Support</a></li>
                    <li xml:lang="en"><a href="history.html" class="nav">History</a></li>
                    <li xml:lang="en"><a href="team.html" class="nav">Team</a></li>
                </ul>
            </div>

            <div class="content" xml:lang="en">
                {{ content }}
            </div>

            <div class="footer" xml:lang="en">
                <div class="right" xml:lang="en">
                    <p xml:lang="en">Copyright &copy; 1997-2022 ircd-hybrid development team</p>
                </div>

                <p xml:lang="en">Questions and/or Comments:
                    <a href="mailto:&#098;&#117;&#103;&#115;&#064;&#105;&#114;&#099;&#100;&#045;&#104;&#121;&#098;&#114;&#105;&#100;&#046;&#111;&#114;&#103;" xml:lang="en">
                        &#098;&#117;&#103;&#115;&#064;&#105;&#114;&#099;&#100;&#045;&#104;&#121;&#098;&#114;&#105;&#100;&#046;&#111;&#114;&#103;
                    </a>
                </p>
            </div>
        </div>
    </body>
</html>
